.container#profileContainer
	h1.white-text About me
	.card-panel.hoverable#profileCard
		img(src='images/parallax.jpg').waves-circle.circle#profileImage.z-depth-2.scale-transition.scale-out
		h1 about
