.parallax-container
	.parallax
		//h2.white.container dasdeadae
		img(src="images/parallax.jpg")

	.container.intro-container
		h5.intro-hello Tudor Pop
		h1.intro-msg { Android, Architecture, Design }

.container#underParallax
	.section.white-text
		h1 adasd
		h1 adasd
		h1 adasd
		h1 adasd
		h1 adasd
