.parallax-container
	.parallax
		//h2.white.container dasdeadae
		img(src="images/parallax.jpg").responsive-img

	.container.intro-container
		h5.intro-hello Tudor Pop
		h1.intro-msg { Android, Architecture, Design }

.container
	.section.white-text
		ul#stagger
			li: h1 adasd
			li: h1 adasd
			li: h1 adasd
			li: h1 adasd
			li: h1 adasd
