.parallax-container
	.parallax
		//h2.white.container dasdeadae
		img(src="images/4k_space.jpg").responsive-img

	.container.intro-container
		h5.intro-hello Tudor Pop
		h1.intro-msg { Android, Architecture, Design }

.container#stagger
	.row
		.col.l4
			ul
				li: +simpleCard("images/4k_space.jpg", '02 JULY 2017')
		.col.l4
			ul
				li: +simpleCard("images/two-way-data-binding.png",'02 JULY 2017')
		.col.l4
			ul
				li: +simpleCard('02','JULY 2017')