.parallax-container
	.parallax
		//h2.white.container dasdeadae
		img(src="images/parallax.jpg").responsive-img

	.container.intro-container
		h5.intro-hello Tudor Pop
		h1.intro-msg { Android, Architecture, Design }

.container#stagger
	.section
		.row
			.col.l4
				ul
					li: +simpleCard('Data binding mysteries', '02','JULY 20017')
			.col.l4
				ul
					li: +simpleCard('Data binding mysteries', '02','JULY 20017')
			.col.l4
				ul
					li: +simpleCard('Data binding mysteries', '02','JULY 20017')