div.navbar-fixed: nav: .nav-wrapper.z-depth-0
	ul.tabs.valign-wrapper
		li.tab: a.active.waves-effect(href='#home') Home
		li.tab: a.waves-effect(href='#about') About
		li.tab: a.waves-effect(href='#work') Work
