div.navbar-fixed: nav.nav-style: .nav-wrapper
	ul#nav-mobile.left.hide-on-med-and-down
		li.active: a(href="") Home
		li: a(href="") About
		li: a(href="") Skills
		li: a(href="") Projects
		li: a(href="") Work
