div.navbar-fixed: nav: .nav-wrapper
	ul.tabs.valign-wrapper
		li.tab: a.active(href='#home') Home
		li.tab: a(href='#about') About
		li.tab: a(href='#skills') Skills
		li.tab: a(href='#projects') Projects
		li.tab: a(href='#work') Work
