div.navbar-fixed: nav: .nav-wrapper
	ul.tabs.valign-wrapper#navigation_tabs
		li.tab: a.active.waves-effect(href='#home') Home
		li.tab: a.waves-effect(href='#about') About
		li.tab: a.waves-effect(href='#skills') Skills
		li.tab: a.waves-effect(href='#projects') Projects
		li.tab: a.waves-effect(href='#work') Work
