div.navbar-fixed: nav: .nav-wrapper.valign-wrapper
	ul.tabs.valign-wrapper
		li.tab: a.active(href=" ") Home
		li.tab: a(href="") About
		li.tab: a(href="") Skills
		li.tab: a(href="") Projects
		li.tab: a(href="") Work
