extends layout

block content
    .parallax-container
        .parallax
            img(src="images/parallax.jpg")
        .container.intro-container
            h5.intro-hello Tudor Pop
            h1.intro-msg { Android, Architecture, Design }

    .container
        .row.container
            h2 lol
    .valign-wrapper.center-align
        .parallax-container
            h1.index-hello Hello, World!
    .valign-wrapper.center-align
        .parallax-container
            h1.index-hello Hello, World!
