extends layout

block content
	.parallax-container
		.parallax
			img(src="images/parallax.jpg" )

		.container.intro-container
			h5.intro-hello Tudor Pop
			h1.intro-msg { Android, Architecture, Design }
	#underParallax.section.white-text
		h1 adasd
		h1 adasd
		h1 adasd
		h1 adasd
		h1 adasd
