extends layout

block content
	#home
		include includes/home
	#about
		include about/about
	#skills
		include includes/skills
	#projects
		include includes/projects
	#work
		include includes/work
block footer
	#footer
		include includes/footer