doctype html
html
	head
		title= title

		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/navigation.css')
		link(rel='stylesheet', href='stylesheets/home_intro.css')

	body
		include includes/navigation
		#home
			block content
		#about
			h1.white-text lola
		#skills
			h1.white-text lol
		#projects
			h1.index-hello Hello, World!
		#work
			h1 Hello, World!

	script(src="https://code.jquery.com/jquery-2.1.1.min.js")
	script(src="javascripts/tabs_navigation.js")
	script(src="javascripts/parallax.js")
	script(src="https://fonts.googleapis.com/icon?family=Material+Icons")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")

