// Created by tudor on 14/07/2017.
doctype html
html
	head
		title= title

		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/home_intro.css')
		link(rel='stylesheet', href='stylesheets/navigation.css')
		script(src="https://code.jquery.com/jquery-2.1.1.min.js")

	body
		header
			include includes/navigation
		include mixins/card_article
		main
			block content
		footer
			block footer

	script(src="https://fonts.googleapis.com/icon?family=Material+Icons")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
	script(src="javascripts/parallax.js")
	script(src="javascripts/scrollfire.js")
	script(src="javascripts/navigation.js")
