#simpleCard {
	background-color: #424242;
	font-family: "Roboto", serif;
	font-style: normal;
}

#simpleCard .card-image .card-title {
	width: 100%;
	font-size: 1.5em;
	background-color: rgba(0, 0, 0, 0.71);
	font-family: "Roboto", sans-serif;
}

#simpleCard #dateCard * {
	color: #00BFA5;
}

#simpleCard .card-action * {
	color: #00BFA5;
}

#simpleCard #contentCard * {
	font-size: larger;
	color: #ffffff;
}