#simpleCard {
	background-color: #424242;
}

#simpleCard #dateCard * {
	color: #00BFA5;
}

#simpleCard #dateCard h6 {
	font-size: 83%;
}

#simpleCard #contentCard p {
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px;
	font-weight: lighter;
}