.intro-hello {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	/*border: thin solid white;*/
}

.intro-msg {
	color: #fff;
	font-size: 6em;
	font-weight: bold;
	text-align: center;
	/*text-transform: uppercase;*/
	
}

.intro-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*border: #ff1636 thin dashed;*/
}

.parallax-container {
	height: 700px;
}

#home.parallax img {
	border: solid thin white;
	background-color: blue;
}

#about {
	width: 100%;
	height: 100%;
	background-color: red;
}

#skills {
	width: 100%;
	height: 100%;
	background-color: red;
	
}

#projects {
	width: 100%;
	height: 100%;
	background-color: red;
	
}

#work {
	width: 100%;
	height: 100%;
	background-color: red;
}