.intro-hello {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	/*border: thin solid white;*/
}

.intro-msg {
	color: #fff;
	font-size: 6em;
	font-weight: bold;
	text-align: center;
	/*text-transform: uppercase;*/
	
}

.intro-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*border: #ff1636 thin dashed;*/
}

#stagger li {
	opacity: 0;
}

#home.parallax img {
	width: 100%;
	border: solid thin white;
	background-color: blue;
}

#home {
	width: 100%;
}

#about {
	width: 100%;
	background-color: #ff666b;
}

#skills {
	width: 100%;
	background-color: #a1ff65;
	
}

#projects {
	width: 100%;
	background-color: #ffb76c;
	
}

#work {
	width: 100%;
	background-color: #c395ff;
}