nav {
	background: rgba(33, 33, 33, 0.98);
	padding-left: 20%;
	padding-right: 20%;
}

ul.tabs {
	height: 100%;
	background-color: transparent;
}

/* indicator and text colors */
.tabs .indicator {
	background-color: #00BFA5;
}

.tabs .tab a {
	color: #00BFA5;
}

.tabs .tab a:hover {
	color: #00BFA5;
}

.tabs .tab a.active {
	color: #00BFA5;
}