// Created by tudor on 12/07/2017.

mixin simpleCard(image, date)
	.card#simpleCard.hoverable.waves-effect
		.card-image
			img(src=image).responsive-img
		.card-content.center
			#contentCard.white-text
				p So you like the new databinding stuff ? Take a look!
			#dateCard
				br
				p= date