// Created by tudor on 12/07/2017.

mixin simpleCard(title,image, day,monthYear)
	.row: .col.l10
		.card#simpleCard.hoverable
			.card-image
				img(src=image)
				span.card-title.text-primary= title
			.card-content
				.row
					.col#dateCard.l3.center
						h5= day
						h6= monthYear
					.col#contentCard.l9.white-text
						p So you like the new databinding stuff but did you know that some of features didn't even make it into the docs? Take a look!