// Created by tudor on 12/07/2017.

mixin simpleCard(title,image, date)
	.card#simpleCard.hoverable.waves-effect
		.card-image
			span.card-title
				= title
			img(src=image).responsive-img
		.card-content
			#dateCard
				p= date
				br
			#contentCard.white-text
				p So you like the new databinding stuff but did you know that some of features didn't even make it into the docs? Take a look!

		.card-action.waves-effect.waves-block
			a(href='#') Read