// Created by tudor on 12/07/2017.

mixin simpleCard(title,day,monthYear)
	.row: .col.l10
		.card#simpleCard.hoverable
			.card-content
				span.card-title.text-primary= title
				.row.center
					.col.l3#date
						h5= day
						h6= monthYear
					.col.l9
						p test