- var myName = "Tudor Pop"
p
	| My name is
	b  #{myName}
	| , a software developer, builder and a maker of all kinds. By day, I build Android apps and try out new technologies in
	| Web and mobile spectrum. By night(ish), I follow a MS degree in Distributed Systems (Java Enterprise, Security, Big Data...)
	| to explore other tech related fields. In the rest of the time I might go out or search the web for interesting content.

p This blog is going to be on Android, design patterns, experiments and community frameworks.
	| I hope you find it useful!

#aboutContentFooter
	blockquote A mind needs blogs just like a sword needs a whetstone. - Tyrion Lannister
