.container#profileContainer
	h1.white-text About me
	.card#profileCard
		img(src='images/profile_img.jpg').waves-circle.circle#profileImage.z-depth-2.scale-transition.scale-out
		.left-align
			include about_content
