.btn-floating.btn-large.waves-effect.waves-light.amber.lighten-5#stackOverflowSocialButton
	a(href='https://stackoverflow.com/users/story/2157870',target='_blank')
		img(src='images/so-icon.svg')

.btn-floating.btn-large.waves-effect.waves-light.white
	a(href='https://www.linkedin.com/in/pop-tudor-21958bb5/',target='_blank').fa.fa-linkedin

.btn-floating.btn-large.waves-effect.waves-light.white.valign-wrapper
	a(href='https://github.com/PopTudor',target='_blank').fa.fa-github