- var myName = "Tudor Pop"

.container#profileContainer
	h1.white-text About me
	.card#profileCard
		img(src='images/profile_img.jpg').waves-circle.circle#profileImage.z-depth-2.scale-transition.scale-out
		h3 #{myName}
		.left-align#aboutContent
			include about_content

		.right-align#aboutSocialButtons
			include about_social_buttons
